#text button {
	background: transparent;
	border: 0;
	padding: 0 0 0 6px;
}
#text p {
	margin: 0;
}

.horizontal {
	height: 50px;
	width: 100%
}

.box, .box_model {
	height: 100%;
	margin-right:-3px;
	display: inline-block;
}

.box {
	border: 3px solid grey;
}

.box_model {
	border: 3px solid transparent;
}

.model {
	height: 100%;
	width: 100%;
	background-color: purple;
}

.boxtotalpies, .boxtotalpiesmodel {
	height: 50px;
}

.boxtotalpies {
	border: 3px solid grey;
}

.boxtotalpiesmodel {
	border: 3px solid transparent;
}

#totalpiesmodel {
	height: 100%;
	width: 100%;
	background-color: blue;
}