#text button {
	background: transparent;
	border: 0;
	padding: 0 0 0 6px;
}
#text p {
	margin: 0;
}

.horizontal {
	height: 50px;
	width: 100%
}

.box {
	height: 100%;
	border: 3px solid grey;
	margin-right:-3px;
}

.box_model {
	height: 100%;
	border: 3px solid transparent;
	margin-right:-3px;
}

.model {
	height: 100%;
	width: 100%;
	background-color: purple;
}